*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
   color: white;
   font-size: 16px;
   font-family: 'scto_grotesk_alight';
}

@font-face {
    font-family: 'scto_grotesk_alight';
    src: url('police/sctogroteska-light-webfont.woff2') format('woff2'),
    url('police/sctogroteska-light-webfont.woff') format('woff');
    font-weight: normal;
     font-style: normal;
    }




body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

.central{
   position: relative;
    width: 80%;
    height: 80%;
    position: relative;
    overflow-y: scroll;
    background-color: #1d1d1d;
}

::-webkit-scrollbar{
   display: none;
}

.wrapper{
    position:sticky;
    width: 100%;
    top: 0;
    background-color:#1d1d1d ;
    display: flex;
    height:12%;
    border-bottom: 1px solid white;
    z-index: 5;
}

.wrapper > *:nth-child(1){
flex: 1 1 15%;
}

.wrapper > *:nth-child(2){
    flex: 1 1 65%;
}

.wrapper > *:nth-child(3){
    flex: 1 1 20%;
}


.menu{
     border-right: 1px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }

.arrow{
    position: absolute;
    transform: translateY(50);
    margin-left: .5em;
    width: 19px;
    height: 19px;
}

.burger{
    position: absolute;
    left: 0;
    top: 45%;
    margin-left: 2em;
    width: 15px;
    height: 1px;
    background-color: white;
    display: block;
    cursor: pointer;
}

.burger::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 1px;
    background-color:white;
    display: block;
    transform: translateY(4px);
    cursor: pointer;
}


.lettre{
    text-transform: capitalize;
}

.titre{
    position: relative;
    height:70vh;
  }

.titre span{
    font-size: clamp(1.875rem, .5625rem + 5.25vw, 4.5rem);
    text-transform: uppercase;
    line-height: 1;
    padding-left: .5em;
    letter-spacing: 2px;
}

.pic{
    width: 200px;
    height: 200px;
    }

.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.un{
    position: absolute;
    top: 148px;
    right:380px;
}

.deux{
    position: absolute;
    left: 95px;
    }


a{
    color: white;
    text-decoration: none;
    outline: none;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
   }

.featured{
    align-self: center;
    border: 1px solid white;
    border-radius: 19px;
    width: 150px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.featured span{
    text-transform: capitalize;
    }

h2{
    align-self: center;
    text-transform: uppercase;
    font-size:2rem;
    padding-bottom: 1em;
}

.hundred{
display: block;
font-size:2rem;
}   

.scroll{
    height:355px;
    display: flex;
    overflow-x:auto;
   }


.scroll_pic{
    width: 400px;
    height: 350px;
    margin: .5em;
}

.scroll_pic img{
    width:100%;
    height:100%;
    object-fit: cover;
}


.about{
    height:70vh;
    display: grid;
    grid-template-areas: ". space"
                         "pic menu";
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin-top: 1em;
    padding: 2.5em;
}

.space{
    grid-area: space;
    }

.space p{
padding: .5em;
letter-spacing: 1px;
}

.pic_about{
    grid-area: pic;
    margin-left: 1.5em;
    margin-bottom: 2.5em;
}

.about_us{
    margin: .5em;
    border: 1px solid white;
    border-radius: 19px;
    width: 80px;
    text-align: center;
    padding: .2em;
}

.about_us span{
    text-transform: capitalize;
   }

.second_menu{
    grid-area: menu;
    display: flex;
    flex-direction: column;
   /* margin: 1.5em;*/
   }

.uno,.dos,.tres{
    flex: 1;
    }

.uno{
    position: relative;
    border-top: 1px solid white;
    border-bottom:1px solid white;
   }

.dos{
    position: relative;
    border-bottom:1px solid white;
}

.tres{
    position: relative;
    border-bottom:1px solid white; 
}

.pic_about{
    width: 200px;
    height: 200px;

}

.pic_about img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
 
.add{
    display: block;
    width: 19px;
    height: 19px;
    margin-right: .5em;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}

.show{
  display: block;
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}
 .show:hover.hide{
  display: visible;
 }

.hide{
    visibility: hidden;
}